
.header {

position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #D71149;
}
.logo {
position: absolute;
width: 165px;
height: 37px;
left: 31px;
top: 11px;
}
.icon_chart{
position: absolute;
width: 40px;
left: 230px;
right:800px;
top: 15px;
bottom: 93.26%;

}
.kategori{
position: absolute;
width: 69px;
height: 21px;
left: 270px;
top: 23px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;


color: #FFFFFF;
}
.cari{
position: absolute;
width: 405px;
height: 30px;
left: 390px;
top: 15px;

background: #FFFFFF;
}

.transaksi {

position: absolute;
width: 178px;
height: 21px;
left: 957px;
top: 28px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;


color: #FFFFFF;
}
.scroll{
position: absolute;
width: 15px;
left: 1100px;
top: 32px;
}

.cart{
position: absolute;
width: 50px;
left: 1125px;
top: 7px;
}
.button{
  position: absolute;
  top: 30px;
  left: 1200px;
  
}


.subheader{
  position: absolute;
  width: 1440px;
  height: 51px;
  left: 0px;
  top: 70px;
  
  background: #C30F42;
}
a{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: #FFFFFF;
  text-decoration: none;
}
.baris3{
position: absolute;
width: 1316px;
height: 147px;
left: 75px;
top: 164px;

background: #FFFFFF;
opacity: 0.5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dalam3{
position: absolute;
width: 1316px;
height: 57px;
left: 75px;
top: 160px;

background: #FFFFFF;
opacity: 0.5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}